.container {
  display: inline-block;
  flex-shrink: 0;
  width: 250px;
  height: 100px;
  overflow: hidden;
}

.flapImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  user-select: none;
  pointer-events: none;
}
